<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active current">
            <a  
              routerLink="/followers" [queryParams]="{page: 1, order: 'newest'}">
              Followers
            </a></li>
            <li routerLinkActive="active current"><a routerLink="/basic-info">basic info</a></li>

          <li routerLinkActive="active current"><a routerLink="/posts">Posts</a></li>
          <li routerLinkActive="active current"><a routerLink="/archive">Archive</a></li>
          <li routerLinkActive="active current"><a routerLink="/favorite">favorite</a></li>
          <li routerLinkActive="active current"><a routerLink="/contactform">contactform</a></li>
          <li routerLinkActive="active current"><a routerLink="/udemyform">udemyform</a></li>
          <li routerLinkActive="active current"><a routerLink="/like">like</a></li>
          <li routerLinkActive="active current"><a routerLink="/signup">signup</a></li>
          <li routerLinkActive="active current"><a routerLink="/zippy">Zippy</a></li>
          <li routerLinkActive="active current"><a routerLink="/courses">courses</a></li>
          <li routerLinkActive="active current"><a routerLink="/authors">authors</a></li>
          <li routerLinkActive="active current"><a routerLink="/passwordreset">passwordreset</a></li>

        </ul>
      </div>
    </div>
</nav>


<!-- <div class="container" style="font-family: 'Montserrat Alternates', sans-serif;"></div>
    <nav class="navbar navbar-default hidden-xs" style="font-family: 'Montserrat Alternates', sans-serif;">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="#">profit</a><button data-toggle="collapse" class="navbar-toggle collapsed" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation"></li>
                    <li role="presentation"><a href="#">privacy</a></li>
                    <li role="presentation"></li>
                </ul>
        </div>
</div>
</nav>
</div> -->
