<form [formGroup]="form" (ngSubmit)="login()">
    <div *ngIf="form.errors" class="alert alert-danger">the username or password is invalid</div>

    <div class="form-group">
        <label for="username">Username</label>
        <input 
            formControlName="username"
            id="username" 
            type="text" 
            class="form-control">
    </div>

    <div *ngIf="username.pending" >checking for uniquness...
        <span class="glyphicon glyphicon-heart"></span>
    </div>

    <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
        <div *ngIf="form.errors.invalidLogin">the username or password is invalid</div>
        <div *ngIf="username.errors.required"> user name is required </div>
        <div *ngIf="username.errors.minlength"> username should be at least {{username.errors.minlength.requiredLength}} charachters </div>
        <div *ngIf="username.errors.cannotContainSpace"> user name cannot contain a space </div>
        <div *ngIf="username.errors.shouldBeUnique"> user name is already taken </div>
        
        <!-- <div *ngIf="username.errors.shouldntBeYousef"> user name shouldnt be yousef </div> -->

    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input 
            formControlName="password"
            id="password" 
            type="text" 
            class="form-control">
    </div>
    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
        <div *ngIf="password.errors.required"> password is required</div>
    </div>
    <button class="btn btn-primary" type="submit" >Sign Up</button>
</form>