<navbar></navbar>
<router-outlet>

</router-outlet>

<!-- <authors></authors>

<like [isliked]="tweet.isliked" [likesCount]="tweet.likesCount" (change)="onClick()"></like>     -->
<!-- <app-favorite [isgreen]="spinner.isgreen" (change)="ChangeColor($event)"> </app-favorite> -->
<!-- <courses></courses> -->
<!-- <zippy title="Shipping details">
    Here are the shipping details    
</zippy> -->
<!-- <contact-form></contact-form> -->
<!-- <udemyform></udemyform> -->
<!-- <signup-form></signup-form> -->
<!-- <password-reset></password-reset> -->
<!-- <posts></posts> -->
<!-- <followers></followers> -->