<form [formGroup]="form" >
    <div class="form-group">
        <label for="oldPassword">old password</label>
        <input 
        type="password" 
        class="form-control" 
        formControlName="oldPassword" 
        id="oldPassword">
        <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger" >
            <div *ngIf="oldPassword.errors.required">old password is required</div>
            <div *ngIf="oldPassword.errors.passwordError">password is not correct</div>
        </div>
    </div>
   

    <div class="form-group">
        <label for="newPassword">old password</label>
        <input 
        type="password" 
        class="form-control" 
        formControlName="newPassword" 
        id="newPassword">
        <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger" >
            <div *ngIf="newPassword.errors.required">
                new password is required
            </div>
        </div>
    </div>
    

    <div class="form-group">
        <label for="confirmPassword">Confirm your password</label>
        <input 
        type="password" 
        class="form-control" 
        formControlName="confirmPassword" 
        id="confirmPassword">
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger" >
            <div *ngIf="confirmPassword.errors.required">this field is required</div>
        </div>
        <div *ngIf="form.invalid && confirmPassword.valid && form.errors.inValidPassword" class="alert alert-danger">passwords do not match</div>
        

    </div>
    

    <div class="btn btn-primary">Proceed</div>

</form>